<div class="header">
  <div class="header-background">
    <div class="header-nav">
      <a routerLink="" routerLinkActive="active" class="header-nav_image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Volkswagen_logo_2019.svg" alt="" class="header-nav__logo">
      </a>
      <div class="header-block">
        <input type="checkbox" name="toggle" id="phone" class="toggleMenu_phone" />
        <label for="phone" class="toggleMenuLabel_phone">
          <img src="../../../../../assets/icons/phone-call.svg" class="icon-phone" alt="" />
        </label>
        <div class="header-line">
          <div class="header-item">
            <div class="header-item__icon">
              <img src="../../assets/icons/star.svg" alt="" />
            </div>
            <div class="header-item__link">Sales:</div>
            <div class="header-item__phone"><a href="tel:410-555-0196">410-555-0196</a></div>
          </div>
          <div class="header-item">
            <div class="header-item__icon">
              <img src="../../assets/icons/star.svg" alt="" />
            </div>
            <div class="header-item__link">Service:</div>
            <div class="header-item__phone"><a href="tel:410-555-0124">410-555-0124</a></div>
          </div>
          <div class="header-item">
            <div class="header-item__icon">
              <img src="../../assets/icons/star.svg" alt="" />
            </div>
            <div class="header-item__link">Parts:</div>
            <div class="header-item__phone"><a href="tel:410-555-0153">410-555-0153</a></div>
          </div>
        </div>
        <input type="checkbox" name="toggle" id="menu" class="toggleMenu" />
        <label for="menu" class="toggleMenuLabel">
          <div class="icon-menu"></div>
          <div class="icon-menu"></div>
          <div class="icon-menu"></div>
        </label>
        <ul class="header-menu">
          <li>
            <a routerLink="/inventory" class="inventoty-link" routerLinkActive="active">Inventory</a>
          </li>
          <li>Service</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
  </div>
</div>
